<div class="container">
  <app-header>
    <div start>
      <nz-icon nzType="plus" nzTheme="outline" (click)="onToCreateOrders()" />
    </div>
    <div title>{{ title }}</div>
    <div end>
      <nz-icon
        nzType="align-right"
        nzTheme="outline"
        (click)="onMenuClick()"
      ></nz-icon>
    </div>
  </app-header>

  <div class="cards-container">
    @for (card of cards; track card.id) {
      <app-card [card]="card" (click)="onCardClick(card)"></app-card>
    }
  </div>

  <div style="padding: 20px">
    <button
      nz-button
      nzType="dashed"
      nzBlock
      style="height: 50px"
      (click)="addCategory()"
    >
      <nz-icon nzType="plus" nzTheme="outline" />
      Add Category
    </button>
  </div>
</div>
