.product-card {
  border-radius: 18px;
  padding: 4px;
  transition: all 0.25s ease;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.09);
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card-left {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 18px;
  font-weight: 600;
  color: #414141;
}

.card-description {
  color: #a9a9a9;
  font-size: 13.5px;
}

.card-count {
  font-size: 16px;
  color: #595959;
  padding: 0px 8px;
  letter-spacing: 1.5px;
}

.card-icon {
  width: 80px;
  height: 80px;
  border-radius: 16px;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-icon span {
  font-size: 30px;
  color: #616161;
}
