<nz-card class="category-card" nzHoverable>
  <div class="card-container">
    <!-- LEFT -->
    <div class="card-info">
      <div class="card-header">
        <span nz-icon nzType="inbox" nzTheme="outline"></span>
        <span class="category-name">{{ card.name }}</span>
      </div>

      <div class="total-count">
        {{ card.total }}
        <span>Items</span>
      </div>
    </div>

    <!-- RIGHT -->
    <div class="card-image-placeholder">
      <span nz-icon nzType="inbox"></span>
    </div>
  </div>
</nz-card>
