<nz-card class="product-card" nzBordered="false">
  <div class="product-card-container">
    <div class="product-left">
      <div class="product-code">BXS09-111</div>

      <div class="product-title">Bút bi xanh</div>

      <div class="product-category">
        <nz-tag nzColor="blue">Giáo dục</nz-tag>
      </div>

      <div class="product-meta">
        <span class="stock">Stock: 500</span>
        <span class="price">Price: 2,000</span>
      </div>
    </div>

    <div class="product-right">
      <div class="product-image">
        <img [src]="imgUrl" alt="product" />
      </div>
    </div>
  </div>
</nz-card>
