<nz-card
  class="product-card"
  nzBordered="false"
  (click)="onDetailProduct(card.id)"
>
  <div class="product-card-container">
    <div class="product-left">
      <div class="product-code">{{ card.code }}</div>

      <div class="product-title">{{ card.name }}</div>

      <div class="product-category">
        <nz-tag nzColor="blue">{{ card.categoryModel.name }}</nz-tag>
      </div>

      <div class="product-meta">
        <span class="stock"
          >{{ "data.productDetail.quantity" | translate }}:
          {{ card.stock }}</span
        >
        <span class="price">
          {{ "data.productDetail.price" | translate }}: {{ card.price }}</span
        >
      </div>
    </div>

    <div class="product-right">
      <div class="product-image">
        <img [src]="getThumbnail(card.images)" alt="product" />
      </div>
    </div>
  </div>
</nz-card>
