<app-header>
  <div title>{{ "settings.title" | translate }}</div>
  <div end>
    <nz-icon
      nzType="align-right"
      nzTheme="outline"
      (click)="onMenuDrawer()"
    ></nz-icon>
  </div>
</app-header>

<nz-card class="settings-card">
  <div class="setting-item">
    <div class="setting-label">
      <span nz-icon nzType="global"></span>
      <span>{{ "settings.catelog.language" | translate }}</span>
    </div>

    <nz-select
      [(ngModel)]="language"
      (ngModelChange)="changeLanguage($event)"
      style="width: 150px"
    >
      <nz-option
        nzValue="vi"
        nzLabel="{{ 'settings.language.vi' | translate }}"
      ></nz-option>
      <nz-option
        nzValue="en"
        nzLabel="{{ 'settings.language.en' | translate }}"
      ></nz-option>
    </nz-select>
  </div>
</nz-card>
