<nz-card class="account-card">
  <div class="account-container">
    <div class="account-left">
      <div class="account-username">admin</div>

      <div class="account-meta">
        <nz-tag nzColor="purple">Admin</nz-tag>

        <nz-tag nzColor="green">
          <nz-icon nzType="unlock"></nz-icon>
          Active
        </nz-tag>

        <nz-tag nzColor="green"> Online </nz-tag>
      </div>
    </div>

    <div class="account-avatar">
      <nz-avatar nzShape="square" [nzSize]="50" nzText="A"></nz-avatar>
    </div>
  </div>
</nz-card>
