<app-header>
  <div start>
    <nz-icon nzType="rollback" nzTheme="outline" (click)="onBack()"></nz-icon>
  </div>
  <div title>{{ "data.product.title" | translate }}</div>
</app-header>

<div class="container-product">
  <app-card-product />
</div>

<div class="floating-tools">
  <button nz-button nzShape="circle">
    <span nz-icon nzType="plus"></span>
  </button>

  <button nz-button nzShape="circle">
    <nz-icon nzType="search" nzTheme="outline" />
  </button>

  <button nz-button nzShape="circle" nzDanger>
    <span nz-icon nzType="up"></span>
  </button>
</div>
