<div class="container">
  <app-header>
    <div start>
      <nz-icon nzType="rollback" nzTheme="outline" (click)="onBack()" />
    </div>
    <div title>{{ title }}</div>
  </app-header>

  <div class="detail-wrapper">
    <!-- IMAGE -->
    <div class="image-section">
      <nz-carousel
        nzAutoPlay
        nzEffect="scrollx"
        style="width: 100%; height: 400px"
      >
        <div nz-carousel-content *ngFor="let img of images">
          <img
            nz-image
            [nzSrc]="img"
            style="width: 100%; height: 400px; object-fit: cover"
          />
        </div>
      </nz-carousel>
    </div>

    <!-- INFO -->
    <div class="info-section">
      <h2 class="section-title">Product Information</h2>

      <div class="info-grid">
        <div class="label">Name</div>
        <div class="value">{{ currentProduct?.name }}</div>

        <div class="label">Price</div>
        <div class="value">
          {{
            currentProduct?.price
              | currency: "VND" : "symbol" : "1.0-0" : "vi-VN"
          }}
        </div>

        <div class="label">Stock Status</div>
        <div class="value">
          <nz-badge
            [nzStatus]="getStockBadgeStatus(currentProduct?.stockStatus)"
            [nzText]="formatStock(currentProduct?.stockStatus)"
          >
          </nz-badge>
        </div>

        <div class="label">Product Status</div>
        <div class="value">
          <nz-badge
            [nzStatus]="
              currentProduct?.productStatus === 'active' ? 'success' : 'default'
            "
            [nzText]="formatProductStatus(currentProduct?.productStatus)"
          >
          </nz-badge>
        </div>

        <div class="label">SKU</div>
        <div class="value">PRD-{{ currentProduct?.id }}</div>

        <div class="label">Created At</div>
        <div class="value">21/02/2026</div>
      </div>

      <!-- ACTION -->
      <div class="action-section">
        <button nz-button nzType="default" class="btn-edit">
          <span nz-icon nzType="edit"></span>
          Edit
        </button>

        <button nz-button nzDanger class="btn-delete">
          <span nz-icon nzType="delete"></span>
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
