<app-header>
  <div start>
    <nz-icon nzType="rollback" nzTheme="outline" (click)="onBack()"></nz-icon>
  </div>
  <div title>{{ "data.category.title" | translate }}</div>
  <div end>
    <nz-icon nzType="plus" nzTheme="outline" (click)="addCategory()"></nz-icon>
  </div>
</app-header>

<!-- SKELEKON -->
<ng-container *ngIf="categoriesLoading$ | async; else content">
  <div style="padding: 0 20px">
    <nz-skeleton></nz-skeleton>
  </div>
</ng-container>

<ng-template #content>
  <div class="container-category" *ngIf="categories$ | async as categories">
    @for (card of categories; track card.id) {
      <app-card-category [card]="card" (detailCard)="detailCategory($event)" />
    }
  </div>
</ng-template>

<ng-template #remove>
  <button
    nz-button
    nzType="default"
    nzDanger
    (click)="removeCategory(selectedCategory)"
  >
    <span nz-icon nzType="delete"></span>
  </button>
</ng-template>

<ng-template #update>
  <div class="drawer-footer">
    <button
      nz-button
      nzType="primary"
      (click)="updateCategory(selectedCategory)"
    >
      {{ "data.category.button.update" | translate }}
    </button>
  </div>
</ng-template>

<app-loader [loading]="(categoriesLoading$ | async) ?? false" />
