.form-add-product {
  position: relative;
  height: 100%;
}

.form-footer {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  position: absolute;
  bottom: 0;
  right: 0;
}

// .upload-text {
//   margin-top: 8px;
// }

// ::ng-deep .ant-upload.ant-upload-select-picture-card {
//   width: 120px;

//   height: 120px;
// }

// ::ng-deep .ant-upload-list-picture-card-container {
//   width: 120px;

//   height: 120px;
// }
