<div class="drawer-container">
  <ul nz-menu nzMode="inline" class="menu-list">
    @for (item of menuDrawer; track item.url) {
      <li
        nz-menu-item
        [routerLink]="item.url"
        routerLinkActive="ant-menu-item-selected"
        [routerLinkActiveOptions]="{ exact: true }"
        [nzDisabled]="item.isDisable"
        (click)="navigate(item)"
      >
        <span nz-icon [nzType]="item.icon"></span>
        <span>{{ item.content | translate }}</span>
      </li>
    }
  </ul>

  <!-- logout button -->
  <div class="logout-container">
    <button nz-button nzType="default" nzBlock (click)="logout()">
      <span nz-icon nzType="logout"></span>
      {{ "menu.logout" | translate }}
    </button>
  </div>
</div>
